/* ================= Profile Page ================= */
.profile-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    color: #333;
    box-sizing: border-box;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 100%;
    box-sizing: border-box;
}

.profile-container {
    padding: 2rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
}

/* ================= Profile Status ================= */
.profile-status {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    margin-bottom: 2%;
}

/* ================= User Container ================= */
.user-container {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    min-width: 300px;
}

/* ================= User Picture ================= */
.user-picture {
    margin-left: 5%;
    width: 200px;
    max-width: 30%;
    height: auto;
    flex-shrink: 1;
    
    background: linear-gradient(135deg, #0a0a13, #0a225c); 
    border-radius: 50%;
    box-shadow: 0 8px 15px rgba(0,0,0,0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.user-picture:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgba(10, 7, 26, 0.6);
}


/* ================= Name & Level ================= */
.name-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding-left: 5%;
}


.name-level > h1.user-name {
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-size: clamp(20pt, 5vw, 55pt);
}


.name-level > h1.user-status {
    width: 100%;
    max-width: 100%;
    font-size: clamp(5pt, 3vw, 25pt);
    text-align: center;
}

/* ================= Progress Bar ================= */
.progress {
    width: 70%;
    margin-top: 2%;
    max-width: 400px;
}

/* ================= User Badges ================= */
.user-badges {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding-inline: 0;
}

.badge {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.badge img {
    height: 30px;
    width: 30px;
}

.decks-icon {
    padding: 3px;

}

@media (max-width: 800px) {
    .profile-status {
        flex-direction: column;
        gap: 1.5rem;
    }

    .user-container {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .name-level {
        width: 80%;
    }

    .user-badges {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .progress {
        width: 70%;
    }
}

@media (max-width: 530px) {
    .profile-page {
        flex-direction: column;
    }

    .profile {
        width: 100%;
        max-width: 100%;
    }

    .profile-container {
        width: 100%;
        padding: 1rem;
    }

    .name-level {
        width: 100%;
    }

    .name-level > h1.user-name,
    .name-level > h1.user-status {
        max-width: 100%;
    }

    .user-badges {
        flex-direction: column;
    }
}

