.studyPomodore-page {
  display: flex;
  flex-direction: row;
  width: 85vw;
  height: 100vh;
  color: white;
  background: #0b0b18;
  font-family: "Poppins", sans-serif;
}

.studyPomodore {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.pomodoretimer-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.timer-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.campfire-wrapper {
  position: absolute;
  transform: scale(1.25);
  width: 480px;
  height: 800px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: -1;
  pointer-events: none;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring__circle {
  z-index: 10;
  stroke-linecap: round;
  stroke-width: 12; /* mais grosso */
  filter: drop-shadow(0 0 10px #6a5af9); /* leve brilho */
}

.timer-text {
  position: absolute;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.timer-buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btnPomodore {
  display: flex;
  align-items: center;
  padding-inline: 10px;
  background: rgba(30, 30, 60, 0.8);
  border: 2px solid #4f46e5;
  color: white;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  height: 50px;
  width: 280px;
  transition: 0.3s;
}


.btnPomodore:hover {
  background: rgba(60, 60, 120, 0.8);
  transform: translateY(-4px);
}

.btnPomodore.start {
  background: #4f46e5;
  box-shadow: 0 0 20px #4f46e5a0;
}

.btnPomodore img {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.btnPomodore.pomo img {
  padding: 3px;
}

@media (max-width: 700px) {
  .pomodoretimer-container {
    flex-direction: column;
    gap: 3rem;
  }

  .timer-circle {
    width: 320px;
    height: 320px;
  }

  .campfire-wrapper {
    bottom: -90px;
    width: 340px;
    height: 340px;
  }

  .campfire {
    transform: translateY(25px) scale(0.55);
  }

  .timer-text {
    font-size: 3.5rem;
  }

  .btn {
    font-size: 1.2rem;
    padding: 14px 30px;
  }
}
