.study-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    color: white;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

.cards-container {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.study-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%; 
    background-color:#10101a;
    border: 5px solid #4346E6;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.study-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 25px #4346E6; 
}

#flashcards-img, #pomodore-img {
    width: 250px;
    height: 250px;
}

.study-text {
    display: flex;
    border-top: 5px solid #4346E6;
    background-color: #151737;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 20px;
}

