.study-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    outline: none;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.study-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 85%;
    background-color: #10101a;
    border: 0.3rem solid #4346E6;
    border-radius: 2%; 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;       
    color: inherit; 
}

.study-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #4346E6;
}

#flashcards-img,
#pomodore-img {
    max-width: 100%;
    max-height: 100%;
}

.study-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    height: 50%;
    width: 50%;
}

.study-text {
    display: flex;
    outline: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-top: 0.3rem solid #4346E6;
    background-color: #151737;
    padding: 5%;
    width: 100%;
    height: 40%;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 2rem;
    }

    .study-card {
        width: 80%;
    }

    #flashcards-img,
    #pomodore-img {
        max-width: 180px;
    }

    .study-text {
        font-size: 95%;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 4% 2%; /* substituindo 2rem 1rem */
    }

    .study-card {
        width: 90%;
    }

    #flashcards-img,
    #pomodore-img {
        max-width: 150px;
    }

    h1 {
        font-size: 120%;
    }

    .study-text {
        font-size: 90%;
        padding: 2% 2%; /* substituindo 1rem */
    }
}